# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Git Files
.gitattributes

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/LastnameStrings.class
/OharaForLoopsPractice.class
/OharaIfElseEquals.class
/OharaIfElseExercisesPart2.class
/OharaLaterns.class
/OharaLaterns2.class
/OharaNewIfElseExercises.class
/OharaProject3.class
/OharaRocket.class
/OharaScanner.class
/OharaSong.class
/OharaSongOrig.class
/OharaSpaceNeedle.class
/OharaStrings.class
/OharaRhymeAlliterate.class
/OharaBills.class
/OharaBoolean.class
/OharaMidpoint.class
/OharaProject4.class
/OharaWhile.class
/OharaRockPaperScissors.class
/Difficulty.class
/OharaTallying.class
